<div class="header">
  <div class="left-content">
    <span class="qliktive">Qliktive</span>
    <span class="hello-visualization">IIS Automated Dashboard</span>
  </div>
  <div class="right-content">
    <div class="clear-selections" ng-click="$ctrl.clearAllSelections()" ng-class="{'disabled': !dataSelected}">Clear selections</div>
    <img class="git-hub-icon" src="src/hello-visualization/resources/github-social-logo.svg" ng-click="openGithub()" title="Open GitHub project">
  </div>
</div>
<div class="content" ng-click="$ctrl.clearAllSelections()">
  <div class="container" ng-if="$ctrl.connected">
    <div>IDPS TPS</div>
    <div id="chart-container-linechart" class="picasso-linechart"></div>
  </div>
  <div ng-controller="myCtrl">
    <dynamic-table tablestructure="personDetailsObject" tabledata="personDetailsData"></dynamic-table>
    <dynamic-table tablestructure="productTableStructure" tabledata="productTableData"></dynamic-table>
  </div>
</div>
<div class="error" ng-if="!$ctrl.connected && !$ctrl.connecting">
  <div class="error-wrapper">
    <span class="lui-icon--warning"></span>
    <span class="error-title">Oops! Something went wrong.</span>
    <span>{{$ctrl.error ? $ctrl.error : "Unexpected error"}}</span>
  </div>
</div>
